---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import CardBlog from '../components/CardBlog.astro';
import CardColor from '../components/CardColor.astro';
import imgUser from '../../public/stiker.png'
import img1 from '../../public/img1.jpeg'
import Button from '../components/Button.astro';
import socialMedia from '../data/socialmedia.json'
import blog from '../data/blog.json'
import personal from '../data/personal.json'
import Articles from '../components/Articles.astro';

---

<Layout title="HOME" description="Personal Website Alfidi Besta">
    <main>
        <div class="flex items-stretch flex-wrap my-3 h-full">
            <div class="w-2/6">
                <CardColor color="red">
                    <Image class="" src={imgUser} alt="profile" />
                </CardColor>
            </div>
            <div class="w-4/6" >
                <CardColor color="blue">
                    <p class="text-4xl font-bold underline underline-offset-2 mb-2">@alfidibesta</p>
                    <p class="text-2xl font-semibold">
                        {personal.aboutMe.position}
                    </p>
                    <p class="font-normal text-normal">at {personal.aboutMe.company}</p>
                    <p class="text-xl font-normal mb-4">Located in {personal.aboutMe.location}</p>
                    <Button color="green" href={personal.aboutMe.linkedin}>
                        <p class="text-base font-normal">
                            See more  
                            <span class="float-right">&rarr;</span>
                        </p>
                    </Button>
                </CardColor>
            </div>
        </div>

        <div class="flex flex-wrap my-6 h-full">
            <div class="flex-none w-full md:w-3/5">
                <CardColor color="yellow">
                    <p class="text-xl font-bold mb-3">Tentang Guweh 🗿</p>
                    <p class="text-base font-normal">
                        {personal.aboutMe.desc}
                        {personal.aboutMe.interests.programming}
                        {personal.aboutMe.interests.dedication}
                        {personal.aboutMe.interests.teamwork}
                    </p>
                </CardColor>
            </div>
            <div class="flex-none w-full md:w-2/5">
                <CardColor color="yellow">
                    <p class="text-xl font-bold mb-2">Lagi belajar</p>
                    <div class="flex gap-3 flex-wrap">
                        {personal.codingLanguages.map((button, index) => (
                                <Button color={button.color}>
                                    <p class="text-base font-normal">{button.text}</p>
                                </Button>
                        ))}
                    </div>
                </CardColor>
            </div>
        </div>

        <Articles articles={blog}>
            
        </Articles>
        <!-- <div class="flex my-3">
            <CardColor color="orange">
                <p class="text-xl font-bold mb-3">Artikel yang baru baru 😁</p>
                <div class="flex flex-nowrap gap-3">
                    {blog.articles.slice(0, 2).map((blogs) => (
                        <div class="">
                            <CardBlog color="white" 
                            title={blogs.title} 
                            desc={blogs.desc}
                            link={blogs.link}>
                                <div class="aspect-video">
                                    <Image class="bg-cover rounded-lg border-green-700 border-4" src={img1} alt="" />
                                </div>
                            </CardBlog>
                        </div>
                    ))}
                </div>
                {blog.articles.length > 2 && (
                    <div class="mt-3">
                        <Button color="blue" href="/blog">
                            <p class="text-base font-normal">
                                Next
                                <span class="float-right">&rarr;</span>
                            </p>
                        </Button>
                    </div>
                )}
            </CardColor>
        </div>         -->

        <div class="flex flex-wrap my-3 w-full">
            <CardColor color="blue" class:list={["w-full"]}>
                <p class="text-xl font-bold mb-3">Follow ya...!</p>
                <div class="flex gap-3 flex-wrap container">
                    {socialMedia.socialMedia.map((button, index) => (
                        <div class={`sosmed ${index === 0 ? 'active' : ''}`}>
                            <Button color={button.color} href={button.link}>
                                <p class="text-base font-normal">{button.text}</p>
                            </Button>
                        </div>
                    ))}
                </div>
            </CardColor>
        </div>
    </main>
</Layout>